{% extends "base.html" %}



{% block main %}
<h2>Contact Form</h2>
<hr>
<p id="para1">Fill in this form to contact the site owners.</p>
<form method="post" action="{{ url_for('contact') }}" novalidate>
    {{ form.csrf_token }}
    <div class="form-group">
        <p><b>{{ form.name.label(class="form-label") }} <span style="color: red;">(Required)</span></b></p>
        <p>Please enter your full name</p>
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        <p><b>{{ form.email.label(class="form-label") }} <span style="color: red;">(Required)</span></b></p>
        <p>Please enter your e-mail address</p>
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        <p><b>{{ form.subject.label(class="form-label") }} <span style="color: red;">(Required)</span></b></p>
        <p>Please enter the subject for your message.</p>
        {{ form.subject(class="form-control") }}
    </div>
    <div class="form-group">
        <p><b>{{ form.message.label(class="form-label") }} <span style="color: red;">(Required)</span></b></p>
        <p>Please enter the message you would like to send.</p>
        {{ form.message(class="form-control") }}
    </div>

<button type="submit" class="btn btn-primary">Send</button>
</form>

{% endblock %}